.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .ticket-image {
    animation: ticket-image-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes ticket-image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ticket-image {
  padding: 2rem;
}

.header-text {
  color: beige;
}

.ticket-button, .submit-ticket-button {
  margin: 1rem;
  padding: .5rem;
  border-radius: .75em;
  box-shadow: 2px 2px #642525e6;
  align-items: center;
}

.submit-ticket-button {
  align-items: center;
  position: relative;
  bottom: 1.05rem;
}

.ticket-button:hover, .submit-ticket-button:hover {
  background-color: rgb(185, 174, 153);
  cursor: pointer;
}

hr.line {
  display: flex;
  width:80%;
  text-align: center;
}

.input-text {
  margin: .3em;
  text-align: center;
  align-items: center;
}